/*
Test
*/

.box {
  background: white;
  box-shadow: 2px 2px 2px 1px black;
  min-height: 5vh;
}

.info {
  padding: 15px;
  text-align: left;
}

.search {
  margin-bottom: 15px;
  padding-top: 15px;
  padding-left: 15px;
  text-align: left;
}

.navigation {
  /*min-height: 50vh;*/
}

.brewery, .name {
  font-size: 1.5em;
}

.header {
  background: white;
  padding-top: 15px;
  margin-bottom: 60px;
  border-bottom: 5px solid black;
}

.menu-item {
  min-height: 5vh;
  font-size: 1.3em;
  border-top: 3px solid black;
}

.style, .rating {
  display: inline-block;
  width: 2em;
  height: 2em;
  vertical-align: text-bottom;
}

.rating {
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}

/* Beer style colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.brown-ale {
  background-color: rgb(132, 57, 65);
}

/* Skeleton Overrides
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
  background: rgb(255, 110, 110);
}

tr:nth-child(even) {
  background-color: rgba(255, 110, 110, .1)
}

td {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.centered {
  text-align: center;
}

.title {
  font-size: 8rem;
}

.record-button {
  margin-top: -45px;
  margin-left: -5px;
  margin-right: -5px;
}

.return {
  text-decoration: none;
  color: inherit !important;
}

.add {
  position: fixed;
  bottom: 15px;
  left: 15px;
}

.inline {
  display: inline;
}

.inline-form {
  display: inline-block;
}

.query-container {
  width: 300px;
  margin: 0 auto;
}

.query-info {
  float: left;
  margin-left: 15px;
}

/* Badge Ratings */

.badge {
  border-radius: 10px;
  border: 2px solid black;
  padding-top: 1px;
  padding-bottom: 1px;
  display: inline-block;
  width: 45px;
  font-size: .6em;
  text-align: center;
  text-shadow: 1px 0px;
  vertical-align: 2px;
}

.great:before {
  content: 'great';
}

.great {
  background-color: rgba(255, 110, 110, 1);
  font-style: 'bold';
}

/*.good:before {
  content: 'good';
}*/

.good {
  background-color: rgba(255, 110, 110, .7);
}

.ok:before {
  content: 'ok';
}

.ok {
  background-color: rgba(255, 110, 110, .5);
}

.meh:before {
  content: 'meh';
}

.meh {
  background-color: rgba(255, 110, 110, .3);
}

.bad:before {
  content: 'bad';
}

.bad {
  background-color: white;
}

.strong-beer {
  vertical-align: -4px;
  font-size: 1.33333333em !important;
}

.strong-beer-label {
  font-size: .75em;
  font-style: italic;
}

.flag-icon {
  vertical-align: text-bottom;
  font-size: 2em;
}
