/* Query result
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.search {
  margin-bottom: -25px;
  text-align: left;
}

.brewery, .name {
  font-size: 1.3em;
}

.header {
  background: white;
  padding-top: 15px;
  margin-bottom: 45px;
  padding-left: 15px;
  border-bottom: 5px solid black;
}

.rating {
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}

.results {
  overflow-x: scroll;
  height: 45vh;
}

.result {
  text-align: left;
  border-left: 5px solid white;
  border-right: 5px solid white;
  padding: 10px 10px 10px 15px;
}

.result:nth-child(odd) {
  background-color: rgba(255,110,110,.3);
}

.result:hover {
  border-left: 5px solid rgb(255,110,110);
  cursor: pointer;
}

#results-count {
  margin-top: -15px;
  margin-bottom: 15px;
}

/* Detail specific
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.detail.beer-year {
  font-size: .75em;
}
.detail.beer-year:before {
  content: '(';
}

.detail.beer-year:after {
  content: ')';
}

.detail.beer-with {
  font-style: italic;
  margin-top: -22px;
}

.detail.rating {
  font-weight: normal;
}


/* Detail colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.tag {
  font-style: italic;
  margin-right: 10px;
}

.tag:before {
  content: '#';
  color: rgb(255,110,110);
}

.tag:hover {
  border-bottom: 2px solid rgb(255,110,110);
  cursor: pointer
}

.great:before {
  content: 'great';
}

.great {
  color: rgba(255, 110, 110, 1);
  font-style: 'bold';
}

.good:before {
  content: 'good';
}

.good {
  color: rgb(204,88,88);
}

.ok:before {
  content: 'ok';
}

.ok {
  color: rgb(153,66,66);
}

.meh:before {
  content: 'meh';
}

.meh {
  color: rgb(102,44,44);  
}

.bad:before {
  content: 'bad';
}

.bad {
  color: rgb(51,22,22);
}

.abv:after{
  content: '%';
}

/* Skeleton Overrides
–––––––––––––––––––––––––––––––––––––––––––––––––– */

tr:nth-child(even) {
  background-color: rgba(255, 110, 110, .1)
}

td {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
  font-weight: 600;
  width: 120px;
}

.centered {
  text-align: center;
}

.hidden {
  display: none !important;
}

.title {
  font-size: 8rem;
}

.record-button {
  margin-top: -45px;
  margin-left: -5px;
  margin-right: -5px;
}

.return {
  text-decoration: none;
  color: inherit !important;
}

.add {
  position: fixed;
  bottom: 15px;
  left: 15px;
}

.inline {
  display: inline;
}

.inline-form {
  display: inline-block;
}


