/* Query result
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.search {
  margin-bottom: -35px;
  text-align: left;
}

.search input {
  width: 100% !important;
}

.brewery, .name {
  font-size: 1.3em;
}

.rating {
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}

.results {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 46vh;
}

@media (min-width: 550px) {
  .results {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 45vh;
  }
}

.mobile-results {
  height: 0px !important;
  overflow: hidden !important;
}

.result {
  text-align: left;
  border-left: 5px solid rgba(255,255,255,0);
  border-right: 5px solid rgba(255,255,255,0);
  padding: 10px 10px 10px 15px;
}

.result:nth-child(odd) {
  background-color: rgba(255,110,110,.3);
}

.result:hover {
  border-left: 5px solid rgb(255,110,110);
  cursor: pointer;
}

#results-count {
  margin-top: -15px;
  margin-bottom: 15px;
}

#results-column {
  padding: 5px;
  margin-top: -25px;
}


#search-results-header {
  margin-top: -35px;
}

@media (min-width: 550px) {
  #results-column {
    padding: inherit;
  }
}

/* Detail specific
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#start {
  margin-bottom: -15px;
}

#detail-column {
  display: none;
}

#beer-detail .brewery:hover {
  text-decoration: underline !important;
  cursor: pointer;
}

#beer-detail a {
  color: inherit;
  text-decoration: none;
}

#beer-detail a:hover {
  color: inherit;
}

@media (min-width: 550px) {
  #detail-column {
    display: inherit;
  }
}

.detail.brew-year {
  font-size: .75em;
}
.detail.brew-year:before {
  content: '(';
}

.detail.brew-year:after {
  content: ')';
}

.detail.brew-with:before {
  content: 'with ';
}

.detail.brew-with {
  font-style: italic;
  margin-top: -22px;
}

.detail.rating {
  font-weight: normal;
}

.mobile-detail {
  display: block;
  position: absolute;
  top: -45px;
  left: 0px;
  padding: 25px;
}

#detail-back {
  position: absolute;
  right: 25px;
  top: 30px;
  font-size: 2em;
  color: rgb(255,110,110);
  cursor: pointer;
}

@media (min-width: 550px) {
  #detail-back {
    display: none;
  }
}


/* Detail colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.tag {
  font-style: italic;
  margin-right: 10px;
}

.tag:before {
  content: '#';
  color: rgb(255,110,110);
}

.tag:hover {
  border-bottom: 2px solid rgb(255,110,110);
  cursor: pointer
}

.great:before {
  content: 'great';
}

.great {
  color: rgba(255, 110, 110, 1);
  font-style: 'bold';
}

.good:before {
  content: 'good';
}

.good {
  color: rgb(204,88,88);
}

.ok:before {
  content: 'ok';
}

.ok {
  color: rgb(153,66,66);
}

.meh:before {
  content: 'meh';
}

.meh {
  color: rgb(102,44,44);  
}

.bad:before {
  content: 'bad';
}

.bad {
  color: rgb(51,22,22);
}

.abv:after{
  content: '%';
}

/* Breweries, Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.brewery-label, .style-label, .analysis-label {
  font-weight: bold;
}

.brewery-data, .style-data, .analysis-data {
  padding: 15px;
}

.brewery-beers, .style-beers, .analysis-beers {
  margin: 5px;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.list-link {
  font-size: 1.3em;
}

/* Skeleton Overrides
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* subtlepatterns.com */
body {
  background: url('../fabric_of_squares_gray_@2X.png');
}

tr:nth-child(even) {
  background-color: rgba(255, 110, 110, .1)
}

td {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
  font-weight: 600;
  width: 120px;
}

.centered {
  text-align: center;
}

.hidden {
  display: none !important;
}

.title {
  font-size: 4rem;
}

.header {
  /*background: white;*/
  margin-bottom: 45px;
  border-bottom: 5px solid black;
  text-align: center;
}

.record-button {
  margin-top: -20px;
  margin-left: -5px;
  margin-right: -5px;
  font-size: 1.3em !important;
}

.return {
  text-decoration: none;
  color: inherit !important;
}

/* Larger than mobile */
@media (min-width: 550px) {
  .title {
    font-size: 8rem;
  }
 
  .header {
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
  }

  .record-button {
    margin-top: -45px;
    margin-left: -5px;
    margin-right: -5px;
    font-size: 4rem !important;
  }

  .return {
    text-decoration: none;
    color: inherit !important;
    margin-left: 10%;
  }

}

.add {
  position: fixed;
  bottom: 15px;
  left: 15px;
}

.inline {
  display: inline;
}

.inline-form {
  display: inline-block;
}

.vrule {
  position: absolute;
  border-left: 1px solid rgb(225,225,225);
  height: 50vh;
  left: 50%;
  top: 15%;
  display: none;
}

@media (min-width: 550px) {
  .vrule {
    display: inherit;
  }
}


/* Mobile Indicator
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#mobilizer {
  display: block;
}

@media (min-width: 550px) {
  #mobilizer {
    display: none;
  }
}



