{% extends '/base.html' %}
{% block page_js %}
  {% assets "search" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}
{% block content  %}
<div class="row">
  <div class="four columns">
    <button id="defaults">Populate Defaults</button><br/>
    <h4>RateBeer search results</h4>
    <div id="search-results" style="margin-bottom: 15px;">
      Start entering a beer to search.
    </div>
    <div id="query-results"></div>
  </div>
  <div class="eight columns">
    <form class="search" method="POST" action="add" accept-charset="UTF-8" role="form">
      {{ form.csrf_token }}  
      <input type="hidden" class="default-city" value="{{user.default_drink_location_city}}"/>
      <input type="hidden" class="default-country" value="{{user.default_drink_location_country}}"/>
      <input type="hidden" class="default-date" value="{{user.default_drink_date}}"/>
      {{ render_field(form.brewery, show_label="T") }}
      {{ render_field(form.name, show_label="T") }}<br/>
      {{ render_field(form.rating, show_label="T") }}
      {{ render_field(form.abv, show_label="T") }}<br/>
      {{ render_field(form.style, show_label="T") }}
      {{ render_field(form.country, show_label="T") }}<br/>
      {{ render_field(form.drink_country, show_label="T") }}
      {{ render_field(form.drink_city, show_label="T") }}<br/>
      {{ render_field(form.drink_datetime, show_label="T") }}<br/>
      {{ render_field(form.brew_with, show_label="T") }}<br/>
      {{ render_field(form.brew_year, show_label="T") }}<br/>
      {{ render_field(form.tags, show_label="T") }}<br/>
      {{ render_field(form.notes, show_label="T") }}<br/>
      <button id="submit" type="submit" name="submit">
        <i class="fa fa-save"></i> Save
      </button>
    </form>
  </div>
</div>
{% endblock %}