{% extends '/base.html' %}
{% block page_js %}
  {% assets "search" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}
{% block content  %}
<div class="row">
  <form class="search" method="POST" action="" accept-charset="UTF-8" role="form">
    {{ form.csrf_token }}  
    {{ render_field(form.brewery, show_label="T") }}
    {{ render_field(form.name, show_label="T") }}<br/>
    {{ render_field(form.rating, show_label="T") }}
    {{ render_field(form.abv, show_label="T") }}<br/>
    {{ render_field(form.style, show_label="T") }}
    {{ render_field(form.country, show_label="T") }}<br/>
    {{ render_field(form.drink_country, show_label="T") }}
    {{ render_field(form.drink_city, show_label="T") }}<br/>
    {{ render_field(form.drink_datetime, show_label="T") }}<br/>
    {{ render_field(form.notes, show_label="T") }}<br/>
    {{ render_field(form.brew_with, show_label="T") }}<br/>
    {{ render_field(form.brew_year, show_label="T") }}<br/>
    {{ render_field(form.tags, show_label="T") }}<br/>
    <button id="submit" type="submit" name="submit">
      <i class="fa fa-save"></i> Save
    </button>
  </form>
</div>
{% endblock %}