{% extends '/base.html' %}
{% block content %}

<div class="row">
  <a href="/">return to search</a><br/>

  <h2><a href="/details/brewery">breweries</a></h2>
  <h2><a href="/details/abv">abvs</a></h2>
  <h2><a href="/details/rating">ratings</a></h2>
  <h2><a href="/details/style">styles</a></h2>
  <h2><a href="/details/country">brewery countries</a></h2>
  <h2><a href="/details/drink_country">drink location – countries</a></h2>
  <h2><a href="/details/drink_city">drink location – cities</a></h2>
  <h2><a href="/details/year">years</a></h2>
  <!-- <h2><a href="/details/brew_year">vintage</a></h2>
  <h2><a href="/details/brew_with">collaborations</a></h2> -->
  <h2><a href="/details/tag">tags</a></h2>
</div>

{% endblock %}