{% extends '/base.html' %}
{% block content %}

<div class="row">
  <div class="twelve columns">
    <div class="list-data">
      <h1>{{t}}</h1>
    </div>

    sort by: <a href="{{request.path}}?sort=count">count</a>, <a href="{{request.path}}?sort=average">average</a>, or <a href="{{request.path}}?sort=alpha">alphabetically</a>
    <br/>
    <a href="/details">return to attributes list</a><br/>
    <br/>
    {% for el in list %}
      <span class="list-link"><em><a href="/details/{{type}}/{{el.name}}">{{el.name}}</a></em> <span class="rating {{rating_text(el.average)}}"></span> ({{el.count}})</span><br/>
    {% endfor %}
  </div>
</div>

{% endblock %}