{% extends '/base.html' %}
{% block page_js %}
  {% assets "query" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}
{% block content %}

<div id="mobilizer"></div>
<div class="row">
  <div class="twelve columns">
    <div class="row">
      <div id="results-column" class="six columns">
        <div class="search">
          <input id="query" type="text" placeholder="Search..."/>
        </div>
        <hr/>
        <h3 id="search-results-header">Recent Beers</h3>
        <div id="results-count">Beers: {{latest_list.all()|length}}</div>
        <div id="query-results" class="results">
          {% for beer in latest_list %}
            <div class="result" data-rating="{{beer.rating}}" 
                      data-rating-text="{{rating_text(beer.rating)}}"
                      data-country="{{beer.drink_country}}" 
                      data-city="{{beer.drink_city}}" 
                      data-abv="{{beer.abv}}" 
                      data-year="{{beer.drink_datetime.strftime('%Y')}}"
                      data-month="{{beer.drink_datetime.strftime('%B')}}"
                      data-brewwith="{{beer.brew_with}}"
                      data-brewyear="{{beer.brew_year if beer.brew_year != None}}"
                      data-tags="{% for tag in beer.tags %}{{tag.tag}}{% if not loop.last %},{% endif %}{% endfor %}"
                              >
            <span class="brewery">{{beer.brewery}}</span>
            <span class="name">{{beer.name}}</span><br/>
            <span class="beer-info">
              <span class="rating {{rating_text(beer.rating)}}"></span> / <span class="style">{{beer.style}}</span> / <span class="country">{{beer.country}}</span>
            </span>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="vrule"></div>
      <div id="detail-column" class="six columns">
        <div id="start">
          <h4><span class="username">parry</span>'s latest beer</h4>
        </div>
        <div id="beer-detail">
          <div id="detail-back"><i class="fa fa-times-circle"></i></div>
          <h3>
            <a id="brewery-link" href="/breweries/{{latest.brewery}}"><span class="detail brewery">{{latest.brewery}}</span></a><br/>
            <span class="detail name">{{latest.name}}</span>
            <span class="detail brew-year {% if not latest.brew_year %}hidden{% endif %}">{{latest.brew_year}}</span>
          </h3>
          <div class="detail brew-with {% if not latest.brew_with %}hidden{% endif %}">{{latest.brew_with}}</div>
          <hr/>
          <div class="details">
            <label>Rating</label><span class="rating-text {{rating_text(latest.rating)}}"></span> (<span class="detail rating">{{latest.rating}}</span>)<br/>
            <label>Style</label><span class="detail style">{{latest.style}}</span><br/>
            <label>ABV</label><span class="detail abv">{{latest.abv}}</span><br/>
            <label>Country</label><span class="detail country">{{latest.country}}</span><br/>
            <label>Drink Location</label><span class="detail drink-city">{{latest.drink_city}}</span>, <span class="detail drink-country">{{latest.drink_country}}</span><br/>
            <label>Drink Date</label><span class="detail drink-month">{{latest.drink_datetime.strftime('%B')}}</span>, <span class="detail drink-year">{{latest.drink_datetime.strftime('%Y')}}</span><br/>
            <span class="detail tags {% if not latest.tags %}hidden{% endif %}">
                <label>Tags</label>
                <span class="tags-list">
                {% for tag in latest.tags %}
                <span class="tag">{{tag.tag}}</span>
                {% endfor %}
                </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div id="query-results" class="row centered">
  <h3>Stats</h3>
  Beers: {{beer_count}}<br/>
  Breweries: {{breweries_count.all()|length}}<br/>
  Styles: {{styles_count.all()|length}}<br/>
  Countries: {{countries_count.all()|length}}

</div>
 -->
{% endblock %}