{% extends '/base.html' %}
{% block page_js %}
  {% assets "query" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}
{% block content %}
<div class="row centered">
  <input id="query" type="text" placeholder="Search..."/>
</div>

<div id="query-results" class="row centered">
  <h3>Stats</h3>
  Beers: {{beer_count}}<br/>
  Breweries: {{breweries_count.all()|length}}<br/>
  Styles: {{styles_count.all()|length}}<br/>
  Countries: {{countries_count.all()|length}}

</div>

{% endblock %}